<div id="transition">
  <div id="trans_name">
    <div id="name">
          Duplicated <span>from</span> <a href="https://wovenmagazine.com" target="_blank">Woven</a> 
    </div>
  </div>
  <div id="trans_about">
    <div id="about">
      <h5>
        About
      </h5>
      <h5>
          the home page was duplicated to exercise my web writing skills, 
          & the rest was developed to employ the frontend and backend technologies you can read about them <a routerLink="/about" ><b>here</b></a>.
      </h5>
    </div>
  </div>
  <div id="trans_trans">
    <div id="symb">
      <div class=horizontal_line0><hr></div>
    </div>
    <div id=trans_tag><p>Stories/Promotions</p></div>
  </div>
</div>
