<div id="transition">
  <div id="trans_name">
    <div id="name">
          Duplicated <span>from</span> <a href="https://wovenmagazine.com" target="_blank">Woven</a> 
    </div>
  </div>
  <div id="trans_about">
    <div id="about">
      <h5>
        About
      </h5>
      <h4>
        Via Web is the portfolio of the websites I like, it is written solely with the aim of exercising my web writing skills, 
        the link of the original website is indicated under each project.
      </h4>
    </div>
  </div>
  <div id="trans_trans">
    <div id="symb">
      <div class=horizontal_line0><hr></div>
    </div>
    <div id=trans_tag><p>Stories/Promotions</p></div>
  </div>
</div>
