
<!-- ************************ the top container which includes the preview(image,script)**************************************************** -->   

<div id="topbar">
  <div id="menu_main">			
    <div id="menuToggle">
        <input type="checkbox" id="checkBox" name="checkBox" [checked]="isChecked" (change)="myToggleHandler()" />
        <span></span>
        <span></span>
        <span></span>
    </div>
  </div>
  
  <div id="title">
    <h1><a routerLink="/">Via Web</a></h1>
  </div>
  <div id="navbar">
    <nav class="navbar navbar-expand-sm float-right h-75 mt-1" id="navbarSupported">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <button type="button" routerLink='/mycart' class="dropdown-item">
              <b>Cart </b> <span class="badge badge-light">{{cartItemCount}}</span>
              <span class="sr-only">unread messages</span>
            </button>
          </li>
          <div class="nav-item btn-group mr-3" *ngIf="isLoggedIn">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">profile</button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <button class="dropdown-item" routerLink='/profile' class="dropdown-item">Profile</button>
                <button class="dropdown-item" routerLink="/admin" *ngIf="isAdmin">Admin</button>
                <button class="dropdown-item" routerLink='/entpnrDashboard' class="dropdown-item" *ngIf="isEntpnr">Dashboard</button>
                <button class="dropdown-item" routerLink='/adminDashboard' class="dropdown-item" *ngIf="isAdmin">Dashboard</button>
                <button class="dropdown-item" (click)="logout()">LogOut</button>
              </div>
            </div>
          </div>
        </ul>
      </div>
    </nav>
  </div>
  <!-- <div id="logo">
        <h2><a routerLink="/">VW</a></h2>
      </div> -->
</div>

<!-- ************************ the menu **************************************************** -->
<div id=menu_visard on-escape="unCheck()" [style.display]="isChecked  ? 'block' : 'none'">
  <div id="menu_position">
    <ul id="menu_ul">
      <li class="menu_li"><a (click)="myToggleHandler()" routerLink="productdisplay">Products</a></li>
      <li class="menu_li"><a (click)="myToggleHandler()" routerLink="/duplicates">Promotions</a></li>
      <li class="menu_li"><a (click)="myToggleHandler()" routerLink="/designs">Films</a></li>
      <li class="menu_li"><a (click)="myToggleHandler()" routerLink="/technologies">Community</a></li>
      <li class="menu_li"><a (click)="myToggleHandler()" routerLink="/about">About</a></li>
      <li id="li_contactus"><a (click)="myToggleHandler()" routerLink="/contact"><p>Leave a Post</p></a></li>
    </ul>
  </div>
</div>
