  <!--**********************************************the content1(projects)**********************************************-->
  
  <div id="content1">
    <div id="left">
        <div id="left_content1">
          <div class="cont_ainer">
          <div class="content1_images"><img src="assets/images/photo20.jpg" alt="project N"/></div>
          <div class="content1_scripts">
            <p class=the_website>the website</p>
            <p class=the_category><a href="#" onclick="return false">The category</a></p>
            <p class=the_description>short description</p>
          </div>
          <div class="middle">
            <p class="hover_text"><a href="#" onclick="return false">See the Project</a></p>
          </div>
          </div>
        </div>
        <div id="left_content2">
          <div class="cont_ainer">
          <div class="content1_images"><img src="assets/images/photo20.jpg" alt="project N"/></div>
          <div class="content1_scripts">
            <p class=the_website>the website</p>
            <p class=the_category><a href="#" onclick="return false">The category</a></p>
            <p class=the_description>short description</p>
          </div>
          <div class="middle">
            <p class="hover_text"><a href="#" onclick="return false">See the Project</a></p>
          </div>
          </div>
        </div>
    </div>
    <div id="right">
        <div id="right_content1">
          <div class="cont_ainer">
          <div class="content1_images"><img src="assets/images/photo20.jpg" alt="project N"/></div>
          <div class="content1_scripts">
            <p class=the_website>the website</p>
            <p class=the_category><a href="#" onclick="return false">The category</a></p>
            <p class=the_description>short description</p>
          </div>
          <div class="middle">
            <p class="hover_text"><a href="#" onclick="return false">See the Project</a></p>
          </div>
          </div>
        </div>
        <div id="right_content2">
          <div class="cont_ainer">
          <div class="content1_images"><img src="assets/images/photo20.jpg" alt="project N"/></div>
          <div class="content1_scripts">
            <p class=the_website>the website</p>
            <p class=the_category><a href="#" onclick="return false">The category</a></p>
            <p class=the_description>short description</p>
          </div>
          <div class="middle">
            <p class="hover_text"><a href="#" onclick="return false">See the Project</a></p>
          </div>
          </div>
        </div>
    </div>
    <div id="jack">
      <div id="see_more"><button (click)="seeMoreClickHandler()">SEE MORE</button></div>
      <!--<p>See More</p>-->
      <div id="hide">
        <div id="left_content3">
            <div class="cont_ainer">
              <div class="content1_images"><img src="assets/images/photo20.jpg" alt="project N"/></div>
              <div class="content1_scripts">
                <p class=the_website>the website</p>
                <p class=the_category><a href="#" onclick="return false">The category</a></p>
                <p class=the_description>short description</p>
              </div>
              <div class="middle">
                <p class="hover_text"><a href="#" onclick="return false">See the Project</a></p>
              </div>
            </div>
        </div>
        <div id="right_content3">
            <div class="cont_ainer">
              <div class="content1_images"><img src="assets/images/photo20.jpg" alt="project N"/></div>
              <div class="content1_scripts">
                <p class=the_website>the website</p>
                <p class=the_category><a href="#" onclick="return false">The category</a></p>
                <p class=the_description>short description</p>
              </div>
              <div class="middle">
                <p class="hover_text"><a href="#" onclick="return false">See the Project</a></p>
              </div>
            </div>
        </div>
        <div id="see_less"><button (click)="seeLessClickHandler()">SEE LESS</button></div>
      </div>
    </div>
</div>
