  <!--**********************************************the foot**********************************************-->
  
  <div id="foot">
    <div id="foot_table">
      <table>
        <tr>
          <td><a href="#" onclick="return false">collaborate with us</a></td>
          <td><a href="#" onclick="return false">contact us</a></td>
          <td><a href="#" onclick="return false">FAQ</a></td>
          <td><a href="#" onclick="return false">Terms and Conditions</a></td>
          <td><span>Via Web 2019</span></td>
        </tr>
      </table>
    </div>
  </div>

