  <!--**********************************************the foot**********************************************-->
  
  <div id="foot">
    <div id="foot_table">
      <table>
        <tbody>
          <tr>
            <td><a routerLink="/">Home</a></td>
            <td><a routerLink="/about">About us</a></td>
            <td><a routerLink="/productdisplay">Products</a></td>
            <td><a routerLink="/technologies">Community</a></td>
            <td><span>Via Web 2019</span></td>
          </tr>
      </tbody>
      </table>
    </div>
  </div>

