<!--**********************************************the content2(Selected Designs)**********************************************-->
<div id="content2">
  <p>Films</p>
  <div id="content2_left">
    <div id="videol">          
      <iframe src="https://www.youtube.com/embed/2sr12jmoZv0" allowfullscreen></iframe>
    </div> 
  </div>
  <div id="content2_rigth">
    <div id="videor">
        <iframe src="https://www.youtube.com/embed/2sr12jmoZv0" allowfullscreen></iframe>
    </div>
  </div>
</div>

