
<div id="body">

  <app-top></app-top>  
    <!--the container which includes [transition(trans_name,trans_about,trans_trans), content1(projects), content2(selected design), content3(featured effects), foot(image,script)]-->
      
  <div id="container">
    <div id="invisib"><img id="my_Img" src="assets/images/photo3.jpg" alt="the preview of one of the projects" /></div>
    
    <app-transition></app-transition> 
    <app-content1></app-content1>
    <app-content2></app-content2>
    <app-content3></app-content3>
    <app-foot></app-foot>   
  </div>
</div>
