      <!--**********************************************the content3(Featured Effects)**********************************************-->
      
      <div id="content3">
        <div class="horizontal_line1"><hr></div>  
        <p>Community</p>
        <div id="features">
          <div id="feature1">
            <div class="feature_images"><img src="assets/images/photo13.jpg" alt="project N"/></div>
            <div class="feature_descriptions">feature1<br/>the description on evry feature is writen here</div>
          </div>
          <div id="feature2">
            <div class="feature_images"><img src="assets/images/photo13.jpg" alt="project N"/></div>
            <div class="feature_descriptions">feature2<br/>the description on evry feature is writen here</div>
          </div>
          <div id="feature3">
            <div class="feature_images"><img src="assets/images/photo13.jpg" alt="project N"/></div>
            <div class="feature_descriptions">feature3<br/>the description on evry feature is writen here</div>
          </div>
          <div id="feature4">
            <div class="feature_images"><img src="assets/images/photo13.jpg" alt="project N"/></div>
            <div class="feature_descriptions">feature4<br/>the description on evry feature is writen here</div>
          </div>
        </div>
        <div class="horizontal_line2"><hr></div> 
      </div>
      